%h1 Snippet Info
- if !@snippet.parent.nil?
  = link_to @snippet.parent.title, snippet_path(@snippet.parent)
- if !@snippet.location.nil?
  = link_to @snippet.location.name, location_path(@snippet.location)
.label Snippet
%h2= @snippet.title
.label Body
%p= @snippet.body
- if @snippet.children.count > 0
  .label Children
  %ul
    - @snippet.children.each do |snippet|
      %li= link_to snippet.title, snippet_path(snippet.id)
