%h1 Game Info
= link_to "All Games", games_path
.label Title
%h2= @game.title
.label Description
%p= @game.description
- if @game.locations.count > 0
  .label Locations
  %ul
    - @game.locations.each do |location|
      %li= link_to location.name, location_path(location)
- if @game.characters.count > 0
  .label Characters
  %ul
    - @game.characters.each do |character|
      %li= link_to character.name, character_path(character)