%h1 Character Info
= link_to @character.game.title, game_path(@character.game)
.label Name
%h2= @character.name
.label Nickname
%h2= "\"#{@character.nickname}\""
.label Bio
%p= @character.bio
%h2 Stats
%ul
  - @statistics.each do |statistic|
    %li= "#{statistic.name}: #{statistic.value} / #{statistic.maximum}"
- if @character.items.count > 0
  .label Items
  - @character.items.each do |item|
    .item-listing
      %h2= item.name
      = link_to "View", item_path(item.id)