%h1 Character Info
= link_to "All Characters", characters_path
.label Name
%h2= @character.name
.label Nickname
%h2= "\"#{@character.nickname}\""
.label Bio
%p= @character.bio
%h2 Stats
%ul
  - @statistics.each do |statistic|
    %li= "#{statistic.name}: #{statistic.value} / #{statistic.maximum}"