%h1 Character Info
= link_to "All Characters", characters_path
.character-label Name
%h2= @character.name
.character-label Nickname
%h2= "\"#{@character.nickname}\""
.character-label Bio
%p= @character.bio