%h1 Item Info
- if !@item.character.nil?
  Held by 
  = link_to @item.character.name, character_path(@item.character)
- if !@item.location.nil?
  At 
  = link_to @item.location.name, location_path(@item.location)
.label Name
%h2= @item.name
.label Quantity
%h2= @item.quantity
.label Description
%p= @item.description
%h2 Stats
%ul
  - @statistics.each do |statistic|
    %li= "#{statistic.name}: #{statistic.value} / #{statistic.maximum}"